@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {

    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:focus {
    outline:3px solid #000; 
}

a:link,
a:active {
    /*It's okay to remove the focus rectangle for mouse users. Its not okay to remove it form the keyboard users.*/
    outline:none;
}

img {
  display: block;
  width: 100%;
}

.title {
    text-align: center;
    margin: 0;
}

.nav {
    list-style-type: none;
    text-align: left;
}

.nav a:hover, 
.nav a:focus,
.nav a:active {
    background-color:blue;
    color: white;
}


a {
    text-decoration: none;
    color: blue;
}

.bottom-nav {
    background:#DDDDDD;
}

.hide {
    display: none;
}

.subhead {
    text-align: center;
    background:#F0F0F0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.lightgrey {
    background:#F0F0F0;
}

.grey {
    background:#E8E8E8;
}
.skip-links {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em; 
}

.skip-links a:focus {
    top: 0;
}
@media only screen and (min-width: 25em) {
    
    .nav li{
        display: inline-block;
    }
    
    .nav {
        text-align: center;
    }
    
    .copyright {
    text-align: center;
    }
    
    .hide {
        display: inline-block;
    }    
}

@media only screen and (min-width: 38em) {
    
    .title {
        float: left;
    }
    
    .nav {
        float: left;
    }
    
    .copyright {
        text-align: left;
    }

    .navright {
        float: right;
    }
    
    .float {
        float: left;
    }  
    .medium-gutter {
        padding-right: 1.5em;
    }
}


@media only screen and (min-width: 60em) {

    dt {
        float: left;
        clear: left;
        width: 8rem;
}

    dd {
        float: left;
}
    
    .gutterspace {
        padding-left: 1em;
}
    .large-gutter {
        padding-left: 1.5em;
    }
    
}